{% extends 'index.html' %}
{% load humanize %}
{% block content %}

<style>
  body { 
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #e6da70 50%, #969392 50%);
    font-family: 'Raleway', sans-serif;
}
</style>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ detalle_post.categoria }}</font></font></strong>
            <h3 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ detalle_post.titulo }}</font></font></h3>
            {% if detalle_post.user.username == user.username  %}
            <a href="{% url 'edit' detalle_post.content %}">     Editar</a>
            <a href="{% url 'eliminar' detalle_post.content %}">     Eliminar</a>
            {% endif %}
            <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ detalle_post.timestamp|naturaltime }}</font></font></div>
            <h4>Autor: {{ detalle_post.user.username }}</h4>
            <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ detalle_post.content }}</font></font></p>
          </div>
        </div>
      </div>

      {% if not detalle_post.comentario.all%}
            No hay comentarios...
        {% else %}
            {% for com in detalle_post.comentario.all%}
                <img src="{{ com.user.profile.image.url }}">
                <i class="clock"></i>
                <time data-time="#">{{ com.timestamp|naturaltime }}</time>
                <br>
                <div class="post"><h4>{{ com.user.username }}</h4> {{ com.content }}</div>
                <br>
            {% endfor %}
        {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'comentario' detalle_post.slug %}"><h3 style="color: #2F4F4F;">Agregar nuevo comentario</h3></a>
            {% endif %}
        </div>


{% endblock %}